.articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-btn {
  color: white;
  background-color: #132841;
  border: 0;
  margin: 10px;
}

.menu-btn:hover {
  border: 1px solid #132841;
  color: black;
  background-color: white;
  text-decoration: none;
}

.find-more-btn, .back-button-container {
  color: white;
  margin-top: .5rem;
  margin-bottom: .3rem;
  background-color: white;
  padding: .55rem .6rem .4rem .6rem;
  border-radius: .3rem;
  box-shadow: 2px 2px 2px black;
}

.find-more-btn, .back-button-container > a:hover {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}

.backward-arrow-btn, .forward-arrow-btn {
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.material-icons {
  font-size: 32px;
}

@media (min-width: 500px) {
  .header-elements-container {
    margin-top: 1.5%;
  }

.no-match-message {
  color: white;
}

.arrow-container {
  display: flex;
  justify-content: center;
}
