
.single-article-container {
  margin-top: 2rem;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  border: 1px solid white;
  background-color: #112841;
}

.back-button-container {
  color: white;
  margin-top: .5rem;
  margin-bottom: .3rem;
  background-color: white;
  padding: .55rem .6rem .4rem .6rem;
  border-radius: .3rem;
  box-shadow: 2px 2px 2px black;
}

.back-button-container > a:hover {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}

.single-article-image {
  height: auto;
  width: 65%;
  margin-top: .5rem;
  border: 1px solid white;
  box-shadow: 2px 2px 2px black;
}

.single-article-caption {
  color: white;
  font-size: 0.75rem;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}

.single-article-title {
  height: auto;
  text-shadow: 2px 2px 2px black;
  color: white;
  font-size: 1.5rem;
  margin: 0px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 90%;
}

.single-article-container > p {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

@media (max-width: 900px) {
  .single-article-image {
    width: 90%;
  }

  .single-article-container {
    max-width: 88vw;
  }

  .single-article-caption {
    font-size: 1rem;
  }

  .single-article-container > p {
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
  }
}
