.App {
  text-align: center;
}

.header-text {
  font-size: 3rem;
  cursor: default;
}

.header-text-2 {
  color: #9eeeff;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 870px) {

  .header-text {
    font-size: 1.5rem;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
