.news-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  text-align: left;
  width: 90%;
  object-fit: contain;
  background-color: #f4f7fc;
}

.article-title {
  margin: 0 1rem 1rem;
  font-size: 2rem;
  color: black;
}

.article-image {
  width: 100%;
  margin-top: 1rem;
}

.topic-text {
  color: #132741;
  margin: 1rem;
}

.abstract-text {
  margin: 1rem;
}

a {
  display: flex;
  flex-direction: column;
}

a:hover {
  text-decoration: underline;
}
