a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}

a > .article-image {
  height: 30vh;
  width: auto;
  border: 1px solid white;
  box-shadow: 3px 3px 3px black;
}

.article-sentiment {
  color: white;
  position: absolute;
  background-color: #0db6e5;
  text-shadow: 1px 1px 1px black;
  padding: .5rem .5rem .3rem .5rem;
  border: 1px solid white;
  border-radius: .5rem;
  bottom: 0%;
  /* right: 0%; */
}

.green {
  background-color: #1cc96d;
}

.red {
  background-color: #d12310;
}

.blue {
  background-color: #0db6e5;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid white;
}

a > .article-title {
  height: auto;
  margin-bottom: 10%;
  width: 80%;
  text-shadow: 2px 2px 2px black;
  color: white;
}

@media (max-width: 870px) {
  .article-image {
    height: 80%;
    width: auto;
    margin-top: 20px;
  }

  .article-title {
    font-size: 1rem;
    padding-bottom: 0px;
  }

  .news-card {
    padding-bottom: 1rem;
    padding-top: 0rem;
    margin-bottom: 10%;
  }
}

@media (max-width: 700px) {
  .article-image {
    height: 60%;
    margin-top: -10%;
  }

  .article-title {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .news-card {
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
}

@media (max-width: 600px) {
  .article-image {
    height: 45%;
    margin-top: 10%;
  }

  .article-title {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .news-card {
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-bottom: 0rem;
  }

  .card-container {
    margin-top: -10%;
  }
}

@media (max-width: 599px) {
  .article-image {
    height: 45%;
    margin-top: -5%;
  }

  .article-title {
    font-size: 1.1rem;
    margin-bottom: 0px;
  }

  .news-card {
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-top: 5%;
  }

  .article-sentiment {
    left: -3%;
    top: 6%;
  }
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article-image {
  border: 1px solid white;
  margin-top: 2rem;
}

.article-title {
  width: 80%;
}
