.card-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.article-image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.article-image {
  width: 80%;
  max-height: 30rem;
  padding: .3rem;
  margin-top: 1rem;
  /* background-color: white; */
}

.article-title {
  margin-bottom: 1rem;
  margin-top: 1.7rem;
  font-size: 1.5rem;
  width: 60%;
  color: black;
  word-wrap: normal;
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  width: 90%;
  object-fit: contain;
  /* background-color: #f4f7fc; */
}

.topic-text {
  position: absolute;
  color: #132741;
  font-style: italic;
  left: 12%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.article-sentiment {
  position: absolute;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 0;
  right: 15%;
}

.green {
  background-color: #089347;
}

.red {
  background-color: #b51c0e;
}

.blue {
  background-color: #0d9cc4;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: black;
  margin-bottom: 1rem;
  align-self: center;
  margin: 1rem;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}
