.header {
  height: 10%;
  width: 100%;
  background-color: #132741;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-elements-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 58%;
  margin-top: .5%;
}

.header-txt {
  flex: 2;
  margin-top: 2%;
  font-size: 3rem;
  color: white;
  cursor: default;
  font-family: 'Comfortaa';
  align-self: center;
}

.list-btn {
  position: absolute;
  background-image: url('../../assets/list-btn.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #132741;
  border: 0px;
  height: 3.5rem;
  width: 3.5rem;
  padding: .3rem;
  right: -2%;
  top: 15%;
}

.list-btn:hover {
  background-image: url('../../assets/list-btn-active.svg');
}

.check-in-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../assets/emoji-icon-cropped.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  padding: 1rem;
  margin-left: .5%;
  margin-top: 0%;
  border: 0px;
  border-radius: .5rem;
  height: 3.8rem;
  width: 3.8rem;
  left: 0%;
  top: 12%;
  box-shadow: 2px 2px 2px black;
}

.check-in-text {
  position: absolute;
  right: 7%;
  font-size: 1.2em;
  color: white;
}

.check-in-btn:hover {
  background-image: url('../../assets/back-arrow-active.svg');
}

.check-in-btn:hover > .check-in-text {
  color: #9EEEFF;
}

.history-btn {
  position: absolute;
  flex: .5;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  background-image: url('../../assets/icons8-time-machine-96.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0px;
  border-radius: .5rem;
  padding: .5rem 2rem .5rem 2rem;
  margin-right: 1%;
  margin-top: 1%;
  top: 5%;
  right: 10%;
  width: auto;
  box-shadow: 2px 2px 2px black;
}

.history-btn:hover {
  background-color: #bcf3ff;
}
