.header {
  height: 10%;
  width: 100%;
  background-color: #132741;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-txt {
  font-size: 3rem;
  color: white;
  cursor: default;
}

.list-btn {
  background-image: url('../../assets/list-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #132741;
  border: 0px;
  height: 2rem;
  width: 2rem;
  padding: .3rem;
}

.list-btn:hover {
  background-image: url('../../assets/list-btn-active.svg');
}

.check-in-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #4B658B;
  padding-left: .3rem;
  margin-left: .5%;
  margin-top: 1%;
  border: 0;
}

.check-in-text {
  font-size: 1.2em;
  color: white;
}
