.cy-topic-selection {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 2rem;
  border: 1px solid white;
}

.browse-topics {
  margin: 2rem 0rem;
}

.topic {
  font-weight: 600;
  width: 33%;
  line-height: 1.8rem;
}

.history-btn:hover,
.saved-btn:hover,
.topic:hover {
  text-decoration: underline;
}

@media (max-width: 630px) {
  .cy-topic-selection {
    font-size: .8rem;
    width: 90%;
    height: 60%;
  }
}

.history-btn,
.saved-btn {
  margin-top: 10px;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
